.nav-item .nav-link.active{
    color: red;
}
.logo{
    font-size: 22px !important;
}

.phone-font{
    font-size: 12px;
}

.bg-img{
    background-image: url('images/img_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 600px;
}

.herotext{
    font-size: 12px;
    /* text-align: center; */
}

.recent-projects{
    margin-left: 250px !important;
}

.rp-heading{
    text-align: center;
    margin-right: 80px !important;
    justify-content: center;
    align-items: center;
}

.card-text{
    font-size: 12px !important;
}

.learn-text{
    font-size: 12px !important;
}

.learn-text i{
    font-size: 12px !important;
}

.committed-text{
    text-transform: uppercase;
}


.bg-video{
    background-image: url('images/img_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 600px;
}

.services{
    border-top: 1px solid lightslategrey;
    max-width: 250px;
    margin: 100px;
}

.foot-text{
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.list-footer{
    font-size: 12px;
    list-style-type: none;
}

.copyfoot{
    border-top: 1px solid lightslategrey;
    border: none;
    font-size: 10px;
    color: lightslategrey;
}